body {
    font-family: 'Open Sans', sans-serif;
    background-color:#1a1a1a;
    color: #212121;
    margin: 0;
    padding: 0;
  }

   /* EFECTO DE CAMBIO DE COLORES PARA EL HOVER */

  @keyframes fondoCromatico {
    0% {
      background-color: #1a1a1a; /* negro grafito */
    }
    25% {
      background-color: #3d5afe; /* azul cobalto */
    }
    50% {
      background-color: #c62828; /* rojo sangre */
    }
    75% {
      background-color: #bfa55d; /* dorado antiguo */
    }
    100% {
      background-color: #1a1a1a; /* vuelve al inicio */
    }
  }
  
  header {
    background-image: url(images/banner.png);
    background-position: center;
    
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Viaoda Libre';
  border-bottom: 4px solid #c62828;
  }


  
  footer {
    background-color: #3d5afe;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Viaoda Libre';
  border-bottom: 4px solid #c62828;
  }

  main {
    padding: 100px;
  }
  
  .band {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(191, 165, 93, 0.3);
  }

  .band h2 {
    color: #bfa55d;
   font-family: 'Viaoda Libre';
   text-align:left;
   
  }

  .band:hover {
    
    transform: scale(1.03);  /* aumenta de tamaño */
    /*  transform: translateY(-5px);  eleva con efecto hacia arriba*/
    transition: all 0.5s ease-in-out; /* efecto smooth */
  
  }

  .vinyl-card:hover {
    animation: fondoCromatico 10s infinite linear;
  }

  

  
  img {
    width: 800px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
  }
  
  
  
  
  
  
  
  